<!-- CTA Banner -->
<section class="section section-primary no-padding-bottom">
    <div class="container">
        <div class="columns is-vcentered">
            <!-- CTA content -->
            <div class="column is-4 is-offset-1">
                <div class="minimal-feature">
                    <h2 class="title is-5 minimal-title bold-text light-text no-margin">Prepare for popularity</h2>
                    <div class="feature-content light-text">
                        Leave unecessary pressure behind, everything is made simple so you can focus on your work. Try our Free plan and discover all our features.
                    </div>
                    <div class="pt-20 pb-20">
                        <a href="landing-v3-signup.html" class="button button-cta btn-outlined is-bold light-btn rounded">Get started for free</a>
                        <span class="conditions">Right now.</span>
                    </div>
                </div>
            </div>
            <!-- /CTA content -->

            <!-- City illustration -->
            <div class="column is-5 is-offset-2">
                <div class="city-container">
                    <img src="assets/images/illustrations/drawings/city.svg" alt="">
                </div>
            </div>
            <!-- /City illustration -->
        </div>
    </div>
</section>
<!-- /CTA Banner -->
