<!-- CTA Banner -->
<section class="section section-primary no-padding-bottom">
    <div class="container">
        <div class="columns is-vcentered">
            <!-- CTA content -->
            <div class="column is-4 is-offset-1">
                <div class="minimal-feature">
                    <h2 class="title is-5 minimal-title bold-text light-text no-margin">Prepare for popularity</h2>
                    <div class="feature-content light-text">
                        Don't let a spike in visitors catch you off gaurd! If your infrastructure can't scale quickly to cope with sudden load, give our service a try and see what we can do.
                    </div>
                    <div class="pt-20 pb-20">
                        <a href="{{ site.signup_url }}" class="button button-cta btn-outlined is-bold light-btn rounded">Get started for free</a>
                        <span class="conditions">Right now.</span>
                    </div>
                    <br>
                </div>
            </div>
            <!-- /CTA content -->

            <!-- City illustration -->
            <div class="column is-5 is-offset-2">
                <div class="city-container">
                    <img src="/assets/images/illustrations/drawings/popular-nobg.png" alt="">
                </div>
            </div>
            <!-- /City illustration -->
        </div>
    </div>
</section>
<!-- /CTA Banner -->
