<footer class="footer footer-light-medium">
    <div class="container">
        <div class="columns">
            <!-- Column -->
            <div class="column is-4">
                <div class="pt-10 pb-10">
                    <img class="small-footer-logo" src="{{ "images/logos/footer.png" | prepend: site.assets }}" alt="">
                    <div class="footer-description pt-10 pb-10">
                        We make peak traffic levels on your website more manageable. Why suffer as a result of a sucessful campaign when you don't need to?
                    </div>
                </div>
                <div>
                    <span class="moto">Built with <i class="fa fa-heart color-red"></i> from Manchester.</span><br><br>
                    <span class="moto">&copy; Copyright {{ site.time | date: '%Y' }} Queue Software. All rights reserved.</span>
                    <!-- TODO: Social icons will go here -->
                </div>
            </div>
            <!-- Column -->
            <div class="column is-6 is-offset-2">
                <div class="columns">
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Product
                            </li>
                            <li class="column-item"><a href="#">Home</a></li>
                            <li class="column-item"><a href="#">Pricing</a></li>
                            <li class="column-item"><a href="#">Get started</a></li>
                            <li class="column-item"><a href="#">Help</a></li>
                            <li class="column-item"><a href="https://status.queue.software/">System  status</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Ressources
                            </li>
                            <li class="column-item"><a href="#">Learning</a></li>
                            <li class="column-item"><a href="#">Support center</a></li>
                            <li class="column-item"><a href="#">Frequent questions</a></li>
                            <li class="column-item"><a href="#">Schedule a demo</a></li>
                        </ul>
                    </div>
                    <!-- Column -->
                    <div class="column">
                        <ul class="footer-column">
                            <li class="column-header">
                                Legal
                            </li>
                            <li class="column-item"><a href="#">Terms of Service</a></li>
                            <li class="column-item"><a href="#">Privacy policy</a></li>
                            <li class="column-item"><a href="#">SaaS services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
