<!-- Hero and nav -->
<div class="hero {{ page.hero_class }}">

    <nav class="navbar navbar-wrapper navbar-fade is-transparent {{ page.nav_class }}">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <div class="logo-image"></div>
                </a>

                <!-- Responsive toggle -->
                <div class="custom-burger" data-target="">
                    <a id="" class="responsive-btn" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- /Responsive toggle -->
            </div>

            <!-- Navbar menu -->
            <div class="navbar-menu">
                <!-- Navbar Start -->
                <div class="navbar-start">
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide" href="{{ "/why" | prepend: site.url }}">
                        Why
                    </a>
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide" href="{{ "/pricing" | prepend: site.url }}">
                        Pricing
                    </a>
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide" href="https://support.queue.software/">
                        Help
                    </a>
                </div>

                <!-- Navbar end -->
                <div class="navbar-end">
                    <!-- Signup button -->
                    <div class="navbar-item">
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="{{ site.login_url }}" style="margin-right: 10px;">
                            Login
                        </a>
                        <a id="#signup-btn" href="{{ site.signup_url }}" class="button button-signup button-cta btn-outlined is-bold btn-align {% if page.nav_class contains 'light' %}light-btn{% else %}primary-btn{% endif %} rounded raised">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% if page.hero_file %}{% include heros/{{ page.hero_file }} %}{% endif %}
</div>
<!-- /Hero and nav -->
