/* Correct the header image size */
.navbar-wrapper .navbar-brand img, .navbar-wrapper.navbar-faded .navbar-brand img {
    height: 48px;
    max-height: 48px;
    padding-right: 15px;
    padding-top: 5px;
}

.logo-image {
    width: 168px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3px;
}

.navbar-light .navbar-brand .logo-image {
    background-image: url(../images/logos/header-light.png);
}

.navbar-default .navbar-brand .logo-image, .navbar-dark .navbar-brand .logo-image, .navbar-faded .navbar-brand .logo-image {
    background-image: url(../images/logos/header.png);
}

/* Correct the footer image size */
footer.footer-light-medium .small-footer-logo {
    height: 45px;
}

/* Pricing in GBP */
.pricing-wrapper .flex-card .condensed-plan .plan-price span:before {
    content: '£ ';
    font-size: 50px;
    font-weight: lighter;
}

.pricing-wrapper .flex-card .condensed-plan .plan-price span:after {
    content: 'PER QUEUE, PER MONTH';
}

/* "Save 10%" image */
.billing-switcher-wrapper .discount {
    right: -105px;
}
