<div class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3 has-text-centered">
                <h1 class="title big-title parallax-hero-title light-text">
                    File not found
                </h1>
                <br>
                <h2 class="subtitle is-5 light-text">
                    Error 404 - We couldn't find the page you requested.
                </h2>
                <br>
                <p class="has-text-centered">
                    <a href="/" class="button button-cta btn-align light-btn rounded z-index-2">
                        Return home
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
