<!-- Hero image -->
<div id="main-hero" class="hero-body is-relative no-padding-bottom">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-8 is-offset-2 has-text-centered">
                <h1 class="title big-title text-bold is-2">
                    Peaks in traffic,<br>made manageable.
                </h1>
                <div class="subtitle light-subtitle">
                    Stop losing out when sucessful campaigns wreak havoc with your hosting by holding additonal traffic in a waiting room.
                </div>
                <!-- CTA button -->
                <div class="has-text-centered">
                    <a href="/why" class="button button-cta primary-btn rounded raised"><strong>Read more</strong></a>
                </div>
                <!-- Popup video link -->
                <div class="video-link has-text-centered modal-trigger" data-modal="video-modal">
                    <i class="fa fa-play"></i> <span>See how it works</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Hero image -->
