<!-- Hero caption -->
<div id="main-hero" class="hero-body is-relative no-padding-bottom">
    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-8 is-offset-2 has-text-centered">
                <h1 class="title big-title text-bold is-2">
                    We keep pricing simple
                </h1>
                <h2 class="subtitle light-subtitle">
                    Pick a plan for each queue based on your requirements.<br><br>
                    Monthly fee = Queue plan + Excess requests
                </h2>
                <!-- Price switch -->
                <div class="billing-switcher-wrapper">
                    <div class="by-month is-active">Monthly</div>
                    <!-- Switch -->
                    <div class="billing-switcher">
                        <div class="field">
                            <input id="priceSwitcher" type="checkbox" name="priceSwitcher" class="switch is-large is-primary">
                            <label id="price-switch" for="priceSwitcher"></label>
                        </div>
                    </div>
                    <div class="by-year">Annualy</div>
                    <!-- Discount image -->
                    <div class="discount">
                        <img src="/assets/images/illustrations/drawings/20percent.svg" alt="">
                    </div>
                </div>
                <!-- /Price switch -->
            </div>
        </div>
    </div>
</div>
<!-- /Hero caption -->
