{% if site.github %}{% assign revision = site.github.build_revision %}{% assign hosting = "GitHub" %}{% else %}{% assign revision = site.git.last_commit.long_sha %}{% assign hosting = "GitLab" %}{% endif %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

        {% include nav.html %}

        {{ content }}

        {% include footer.html %}

        <div id="backtotop"><a href="#"></a></div>

        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>

        <!-- Bulkit js -->
        <script src="assets/js/components-modals.js"></script>
        <script src="assets/js/landingv3.js"></script>
        <script src="assets/js/auth.js"></script>
        <script src="assets/js/main.js"></script>

  </body>

</html>
